#landsat-display {
  color: #ff3399;
  font-size: 30px;
  width: 700px;
  height: 615px;
}
#landsat-display * {
  display: block;
}

#landsat-location {
  color: #ff3399
}

#landsat-caption {
  color: #ff3399
}
